.chng-psw{
    -fx-spacing: 20px;



}
.chng-psw TextField{
    -fx-background-color: white;
    -fx-pref-height: 20px;
    -fx-border-radius: 50px;
    -fx-border-color: black;
    -fx-background-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.chng-psw PasswordField{
     -fx-background-color: white;
     -fx-pref-height: 20px;
     -fx-border-radius: 50px;
     -fx-border-color: black;
     -fx-background-radius: 20px;
     -fx-font-weight: bold;
     -fx-font-size: 16px;
 }